In [46]:
import pandas as pd
from sklearn import preprocessing
import numpy as np

In [73]:
path = 'preprocessed_binary_dataset_Copy.csv'
df = pd.read_csv(path, encoding= 'unicode_escape')

In [74]:
y_binary = df['tweet_class']

le = preprocessing.LabelEncoder()
y_binary = le.fit_transform(y_binary)

classes_labels_binary = le.classes_

In [75]:
classes_labels_binary

array(['not_request', 'request'], dtype=object)

In [67]:
y_binary.value_counts()

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'

In [60]:
y_binary = df['tweet_class']
y_binary.value_counts()

not_request    2205
request         524
Name: tweet_class, dtype: int64

In [35]:
df['tweet_class'].value_counts()

not_request    2192
request         524
Name: tweet_class, dtype: int64

In [63]:
df[df['tweet_class'].isnull() == True]

Empty DataFrame
Columns: [sno, tweet_text, tweet_class]
Index: []

In [47]:
df[df['tweet_class'] == np.nan]

Empty DataFrame
Columns: [Unnamed: 0, sno, tweet_text, tweet_class]
Index: []