In [3]:
import pickle
import pandas as pd
from sklearn import preprocessing
import re
import scipy
import numpy as np
from tensorflow.python.keras.preprocessing.sequence import pad_sequences

2022-05-09 20:57:30.805423: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.11.0

In [ ]:
filename = "22-05-06_20-59-32_Unigrams_CountVect_WRul_Freq-3803"
path = "../simple_vect/" + filename

load_vect = pickle.load(open(path, 'rb'))
# load_vect.texts_to_sequences(df["tweet_text"])

In [ ]:
fnameTrainingDataset = "../datasets/500_random_sample.csv"
df = pd.read_csv(fnameTrainingDataset)
X = df['tweet_text']
y_binary = df['tweet_class']
le = preprocessing.LabelEncoder()
y_binary = le.fit_transform(y_binary)

classes_labels_binary = le.classes_
X_train_WoR_dtm = load_vect.texts_to_sequences(X)
X_train_WoR_dtm = pad_sequences(X_train_WoR_dtm, maxlen=20)
X_train_WoR_Features = list(load_vect.word_index.keys())

AttributeError: 'CountVectorizer' object has no attribute 'texts_to_sequences'

In [ ]:
filename = "22-04-02_23-10-18_doc2vec_Vect_WoRul_Max-Len-Seq-20_Freq-20_CNN"
path = "F:/RweetMiner/RweetMinerNew/request_identification_class_DLCorrected/doc2vec_clfModels/" + filename
load_model = pickle.load(open(path, 'rb'))

In [ ]:
y_pred = load_model.predict(X_train_WoR_dtm)
np.argmax(y_pred, axis=1)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [20]:
def apply_regex(text, regex):
    match_found = (re.search(regex ,text) !=None)
    match_found = int(match_found == True)
    return match_found

def series_to_DataFrame(X_data):
    X_data = X_data.to_frame()
    return X_data

def concat_sparse_matrices_h(data_X_dtm, data_Rules_dtm, features_X, features_Rules):
    combined_features = features_X + features_Rules
    concat_sparse = scipy.sparse.hstack([data_X_dtm, data_Rules_dtm], format='csr')
    return concat_sparse, combined_features

def gen_rules_features(X_data_series): # , X_data_dtm, features_arg):
    '''sparse matrix and series matrices should be converted to dataframe for applying rules and treating
    it as features...
    I wrote two functions i.e.,sparse_matrix_to_DataFrame() and series_DataFrame()
      for changing datatypes'''
    X_data_DF = series_to_DataFrame(X_data_series)
#     X_data_DF = X_data_series
    regexes = [
      re.compile(r'\b(I|we)\b.*\b(am|are|will be)\b.*\b(bringing|giving|helping|raising|donating|auctioning)\b', re.I|re.M),
      re.compile(r'\b(I\'m)\b.*\b(bringing|giving|helping|raising|donating|auctioning)\b', re.I|re.M),
      re.compile(r'\b(we\'re)\b.*\b(bringing|giving|helping|raising|donating|auctioning)\b', re.I|re.M),
      re.compile(r'\b(I|we)\b.*\b(will|would like to)\b.*\b(bring|give|help|raise|donate|auction)\b', re.I|re.M),
      re.compile(r'\b(I|we)\b.*\b(will|would like to)\b.*\b(work|volunteer|assist)\b', re.I|re.M),
      re.compile(r'\b(we\'ll)\b.*\b(bring|give|help|raise|donate|auction)\b', re.I|re.M),
      re.compile(r'\b(I|we)\b.*\b(ready|prepared)\b.*\b(bring|give|help|raise|donate|auction)\b', re.I|re.M),
      re.compile(r'\b(where)\b.*\b(can I|can we)\b.*\b(bring|give|help|raise|donate)\b', re.I|re.M),
      re.compile(r'\b(where)\b.*\b(can I|can we)\b.*\b(work|volunteer|assist)\b', re.I|re.M),
      re.compile(r'\b(I|we)\b.*\b(like|want)\b.*\bto\b.*\b(bring|give|help|raise|donate)\b', re.I|re.M),
      re.compile(r'\b(I|we)\b.*\b(like|want)\b.*\bto\b.*\b(work|volunteer|assist)\b', re.I|re.M),
      re.compile(r'\b(will be)\b.*\b(brought|given|raised|donated|auctioned)\b', re.I|re.M),
      re.compile(r'\b\w*\s*\b\?', re.I|re.M),
      re.compile(r'\b(you|u).*(can|could|should|want to)\b', re.I|re.M),
      re.compile(r'\b(can|could|should).*(you|u)\b', re.I|re.M),
      re.compile(r'\b(like|want)\b.*\bto\b.*\b(bring|give|help|raise|donate)\b', re.I|re.M),
      re.compile(r'\b(how)\b.*\b(can I|can we)\b.*\b(bring|give|help|raise|donate)\b', re.I|re.M),
      re.compile(r'\b(how)\b.*\b(can I|can we)\b.*\b(work|volunteer|assist)\b', re.I|re.M)

    ]
    temp = pd.DataFrame()
    features_arg = []
    for i, regex in zip(range(len(regexes)), regexes):
      columnName = "RegEx_" + str(i + 1)
      features_arg.append(columnName)
      temp[columnName] = X_data_DF['tweet_text'].apply(lambda text: apply_regex(text, regex))
    temp_sparse = scipy.sparse.csr_matrix(temp.values)
    return temp_sparse, features_arg

In [55]:

class UsePretrainedVectClf:
    def traditional_loadVect(pathToTokenizer, include_rules=False):
        if "WRul" in pathToTokenizer:
            if include_rules:
                print("Vectoirzer and appending does not match")
        if "WoRul" in pathToTokenizer:
            if include_rules:
                print("Vectoirzer and appending does not match")
        load_vect = pickle.load(open(pathToTokenizer, 'rb'))
        return load_vect

        # df = pd.read_csv(path_to_PreprocessedDataset)
        # X_train_WoR_dtm = load_vect.transform(df["tweet_text"])
        # X_train_WoR_Features = list(load_vect.get_feature_names_out())
        # if include_rules:
        #     X_train_WR_dtm, combined_features = concat_sparse_matrices_h(X_train_WoR_dtm, X_Rules_dtm, X_train_WoR_Features, features_Rules)
        #     return X_train_WoR_dtm
        # return X_train_WoR_dtm

    def traditional_loadedVecGetFeatures(tokenizer, path_to_PreprocessedDataset, path_to_nonPreprocessedDataset, include_rules=False):
        df = pd.read_csv(path_to_PreprocessedDataset)
        X_train_WoR_dtm = tokenizer.transform(df["tweet_text"])
        X_train_WoR_Features = list(tokenizer.get_feature_names_out())
        if include_rules:
            df_notPreprocessed = pd.read_csv(path_to_nonPreprocessedDataset,  encoding = "ISO-8859-1")
            X_train_dtm, X_train_Features = apply_gen_rules_features_ngrams(df_notPreprocessed["tweet_text"], X_train_WoR_dtm, X_train_Features)
        else:
            X_train_dtm = X_train_WoR_dtm
        X_train_dtm, indices_uniq = np.unique(X_train_dtm.toarray(), return_index=True, axis=0)
        return X_train_dtm, indices_uniq, Vect
# def traditional_loadClf

obj = UsePretrainedVectClf()
vect_filename = "22-05-06_20-59-32_Unigrams_CountVect_WRul_Freq-3803"
pathToTokenizer= "../simple_vect/" + vect_filename

clfModel_filename = "22-05-06_20-59-32_Unigrams_CountVect_WRul_Freq-3803"
pathToClfModel = "../simple_vect/" + clfModel_filename

path_to_nonPreprocessedDataset = "../datasets/500_random_sample.csv"
path_to_PreprocessedDataset = "../datasets/500_random_sample.csv"

tokenizer = obj.traditional_loadVect(pathToTokenizer, include_rules=False)

X = obj.traditional_loadedVecGetFeatures(tokenizer, path_to_PreprocessedDataset, path_to_nonPreprocessedDataset, include_rules = False)
print(X.shape)
# fnameTrainingDataset = "../datasets/500_random_sample.csv"
# df = pd.read_csv(fnameTrainingDataset)
# X = df['tweet_text']
# y_binary = df['tweet_class']
# le = preprocessing.LabelEncoder()
# y_binary = le.fit_transform(y_binary)

# classes_labels_binary = le.classes_
# X_train_WoR_dtm = load_vect.transform(X)
# X_train_WoR_Features = list(load_vect.get_feature_names_out())

TypeError: traditional_loadVect() takes from 1 to 2 positional arguments but 3 were given

In [22]:
X_Rules_dtm, features_Rules = gen_rules_features(X)
X_train_WR_dtm, combined_features = concat_sparse_matrices_h(X_train_WoR_dtm, X_Rules_dtm, X_train_WoR_Features, features_Rules)

In [30]:
filename = "22-05-06_20-59-32_CountVect_WRul_Freq-3803_22-05-06_20-59-32_Unigrams_CountVect_WRul_Freq-3803_DT"
path = "../simple_clfModels//" + filename

load_model = pickle.load(open(path, 'rb'))
y_bin_pred = load_model.predict(X_train_WR_dtm)

In [31]:
import numpy as np

df['DT'] = y_bin_pred.tolist()
df['GB'] = np.random.randint(2, size=500).tolist()
df['MLP'] = np.random.randint(2, size=500).tolist()
df['RF'] = np.random.randint(2, size=500).tolist()

In [134]:
df["request"] = df.iloc[:, -4:].mean(axis=1) > 0.6

In [176]:
df.iloc[:, -4:]

     DT  GB  MLP  RF
0     0   0    1   0
1     1   0    1   1
2     0   1    1   1
3     0   1    1   1
4     0   1    0   0
..   ..  ..  ...  ..
495   1   0    0   1
496   0   0    1   1
497   0   0    1   1
498   0   1    0   1
499   0   0    0   1

[500 rows x 4 columns]

In [358]:
e = np.empty([0])
e = np.append(e, 1)
e = np.append(e, 2)
e = np.append(e, 3)
print(list(e))

[1.0, 2.0, 3.0]

In [345]:
df.iloc[:, -2:].values

array([[1, 0],
       [2, 2],
       [3, 0],
       [0, 0]], dtype=int64)

In [171]:
df.iloc[:, -:]

     GB  MLP  RF  num_uniq
0     0    1   1         4
1     0    0   0         4
2     0    0   0         4
3     1    1   0         4
4     1    1   1         4
..   ..  ...  ..       ...
495   0    0   0         4
496   1    0   1         4
497   0    0   0         4
498   0    0   0         4
499   0    0   1         4

[500 rows x 4 columns]

In [366]:
def get_max_from_rows_into_column(df, indexes):
    """ The function takes dataframe and index of columns, and 
    then it returns the array containg the most frequent value against each row.
    Example: 
    dataframe:
    'c1' | 'c2'| 'c3' | 'c4'
    -------------------------
      1  |  1  |   1  |  0  
      2  |  1  |   2  |  2
      2  |  3  |   3  |  0 
      2  |  0  |   0  |  0 
      returned array:
      (1, 2, 3, 0)
      df: dataframe
      indexes: indexes of columns
      example: get_max_from_rows_into_column(dataframe, -3:)
      """
    def get_array(df):
        max_unique_label_column = np.empty([0])
        for v in df.values:
            unique_label, freq_label = np.unique(v, return_counts=True)
            print(unique_label[np.argmax(freq_label)])
            max_unique_label_column = np.append(max_unique_label_column, unique_label[np.argmax(freq_label)])
            
#             print(unique_label[np.argmax(freq_label)])
        return max_unique_label_column
    if ":" in indexes:
        if indexes[0] == ":":
            
            df = df.iloc[:, :int(indexes[1:])]
            max_unique_label_column = get_array(df)
        if indexes[-1] == ":":
            df = df.iloc[:, int(indexes[:-1]):]
            max_unique_label_column = get_array(df)
           
        else:
            indexes = [int(x) for x in indexes.split(":")]
            df = df.iloc[:, indexes[0]: indexes[1]]
            max_unique_label_column = get_array(df)
    else:
            indexes = [int(x) for x in indexes.split(",")]
            df = df.iloc[:, indexes]
            max_unique_label_column = get_array(df)
    print(max_unique_label_column)
    return max_unique_label_column
#     for v in df.iloc[:, indexes].values:
#         unique_label, freq_label = np.unique(v, return_counts=True)
#         print(unique_label)
#         print(freq_label)
#         print(unique_label[np.argmax(freq_label)])
#     #     print(counts.indexOf(max(counts)))
    #     print(unique)

#         print(40*"*")

d = {'c1': [1, 2, 2, 2], 'c2': [1, 1, 3, 0], 'c3': [1, 2, 3, 0], 'c4': [0, 2, 0, 0]}
df = pd.DataFrame(data=d)

indexes = "-3:"
df["new"] = get_max_from_rows_into_column(df, indexes)
df

1
2
3
0
[1. 2. 3. 0.]

   c1  c2  c3  c4  new
0   1   1   1   0  1.0
1   2   1   2   2  2.0
2   2   3   3   0  3.0
3   2   0   0   0  0.0

In [300]:
indexes = "-4:-3"
print(indexes)
if ":" in indexes:
    if indexes[0] == ":" or indexes[-1] == ":":
        indexes = indexes
    else:
        indexes = [int(x) for x in indexes.split(":")]
        return
else:
    indexes = [int(x) for x in indexes.split(",")]
print(indexes)
df.iloc[:, indexes]

-4:-3
[-4, -3]

     DT  GB
0     0   0
1     1   0
2     0   1
3     0   1
4     0   1
..   ..  ..
495   1   0
496   0   0
497   0   0
498   0   1
499   0   0

[500 rows x 2 columns]

In [335]:
d = {'c1': [1, 2, 2, 2], 'c2': [1, 1, 3, 0], 'c3': [1, 2, 2, 0], 'c4': [0, 2, 0, 0]}
df = pd.DataFrame(data=d)
df

   c1  c2  c3  c4
0   1   1   1   0
1   2   1   2   0
2   2   3   2   0
3   2   0   0   0

In [299]:
[int(x) for x in indexes.split(":")]

ValueError: invalid literal for int() with base 10: ''

In [323]:
indexes = ":-433"
indexes[1:]

'-433'

In [307]:
df.iloc[:, -4]

0      0
1      1
2      0
3      0
4      0
      ..
495    1
496    0
497    0
498    0
499    0
Name: DT, Length: 500, dtype: int64

In [225]:
df.iloc[:, -4:]

     DT  GB  MLP  RF
0     0   0    1   0
1     1   0    1   1
2     0   1    1   1
3     0   1    1   1
4     0   1    0   0
..   ..  ..  ...  ..
495   1   0    0   1
496   0   0    1   1
497   0   0    1   1
498   0   1    0   1
499   0   0    0   1

[500 rows x 4 columns]

In [ ]:
df['num_uniq'] = [len(set(v[pd.notna(v)].tolist())) for v in df.iloc[:, -4:].values]

In [166]:
df['num_uniq'] = df.iloc[:, -4:].stack().groupby(level=0).count()

In [167]:
unique, counts = np.unique(array, return_counts=True)

0      4
1      4
2      4
3      4
4      4
      ..
495    4
496    4
497    4
498    4
499    4
Name: num_uniq, Length: 500, dtype: int64

In [193]:
arr = np.array([11, 12, 13, 14, 15, 16, 17, 15, 11, 12, 14, 15, 16, 17])

In [194]:
arr

array([11, 12, 13, 14, 15, 16, 17, 15, 11, 12, 14, 15, 16, 17])

In [197]:
arr[np.argmax(arr)]

17